.dot circle {
  fill: lightsteelblue;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.dot circle.dragging {
  fill: red;
  stroke: brown;
}

.axis line {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
  vector-effect: non-scaling-stroke;
}

.wall line {
  fill: none;
  stroke: #202020;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

.wall circle {
  fill: white;
  stroke: brown;
}

.center circle{
  fill: green;
  stroke: none;
}